p {
  margin: 0px;
}

.badgeImgContainer {
  display: flex;
  justify-content: center;
  height: 90px;
  padding: 0px;
  opacity: 0.3;
}

.cardHeader {
  height: 27.8px;
  padding-bottom: 0px;
  padding-top: 9px;
  padding-left: 12px;
  padding-right: 12px;
}

.heatmapContainer {
  padding: 12px;
}

.postsSubmissionsListItems {
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  justify-content: space-between;
}

.postsSubmissionsIcon {
  display: flex;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  margin-right: 10px;
  color: rgb(119, 119, 119);
  text-align: left;
}

.langBadge {
  display: block;
  background-color: rgb(64, 196, 255);
  border-radius: 10px;
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 7px;
  padding-right: 7px;
  outline-color: white;
  color: rgb(255, 255, 255);
  text-align: center;
  white-space: nowrap;
}

.statusBadge {
  background-color: rgb(76, 175, 80);
  border-radius: 10px;
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 7px;
  padding-right: 7px;
  outline-color: white;
  color: rgb(255, 255, 255);
}
