.profileCard {
  border-radius: 8px;
  margin-bottom: 15px;
}

.cardTitle {
  padding: 0.5625rem 0.75rem 0rem;
  height: 27.8px;
}

.editProfile {
  border: 0px;
  border-radius: 3px;
  box-shadow: rgb(38 50 56 / 20%) 0px 0px 0px 1px inset;
  padding: 0px 7px;
  height: 24px;
  float: right;
  align-items: center;
  cursor: pointer;
  color: rgb(69, 90, 100);
  background: rgb(250, 250, 250);
  font-size: 12px;
}

.profileDetailsContainer {
  display: flex;
}

.profileDetailsTextbox {
  padding: 0px;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 4px;
}

.profileNameID {
}

.ratingContainer {
  display: block;

  /* border: #f9a825 1px solid; */

  width: 140px;
  /* height: 100px; */

  padding: 0px;
  margin: 5px 0px;

  position: relative;
}

.ratingList {
  position: absolute;
  display: flex;

  width: 50.5%;

  direction: ltr;
  gap: 5px;
  margin-top: 0px;
  margin-left: 0px;
  padding: 0px;
  overflow: hidden;
}

.ratingListBackground {
  position: absolute;
  display: flex;
  direction: ltr;

  margin-top: 0px;
  margin-left: 0px;
  gap: 5px;

  padding: 0px;
}

.ratingStarBase {
  float: left;
  /* margin: 2px; */
  height: 0.8rem;
  width: 0.8rem;
}

.ratingStarBackground {
  color: #e0e0e0;
}

.ratingStar {
  color: #f9a825;
}

.githubContainer {
  display: flex;
  margin-left: 12.5px;
}

.githubIcon {
  margin-top: 12px;
  color: rgba(0, 0, 0, 0.65);
}

.linkAndLocationWrapper {
  border-top: 1px solid rgb(224, 224, 224);
  margin-top: 15px;
}

.linkContainer {
  display: flex;
  padding: 12px 0px;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
}

.locationContainer {
  display: flex;
  padding: 12px 0px 0px;
  align-items: center;
}

.webLink {
  text-decoration: none;
  color: #1890ff;
}
.location {
  color: rgba(0, 0, 0, 0.65);
  margin-left: 230px;
}

.cardItem {
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chip {
  display: block;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(76, 175, 80);
  padding-right: 7px;
  padding-left: 7px;
  font-weight: 700;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 12px;
}
