.dimensions {
  position: relative;
  overflow: hidden;
  height: 90px;
  text-align: left;
  line-height: normal;
  z-index: 0;
  top: 5px;
}

.highcharts-spline-series {
  transform: "translate(0, 0)";
}
