.githubContainer {
  display: flex;
  margin-left: auto;
  right: 0;
}

.githubIcon {
  margin-top: 12px;
  color: rgba(0, 0, 0, 0.65);
}

.linkAndLocationWrapper {
  margin-top: 15px;
}

.linkContainer {
  display: flex;
  padding: 12px 0px;
  align-items: center;
  border-top: 1px solid #e8e8e8;
}

.locationContainer {
  display: flex;
  padding: 12px 0px;
  align-items: center;
  border-top: 1px solid #e8e8e8;
}

.webLink {
  text-decoration: none;
  color: #1890ff;
  overflow-wrap: anywhere;
}
.location {
  color: rgba(0, 0, 0, 0.65);
}
