.navLinks {
  text-decoration: none;
  color: #546e7a;
  padding-top: 0.5rem;
  margin-left: 20px;
}

.navLinks:hover {
  color: black;
  transition: all 0.5s ease-in-out;
}

.linkChip::after {
  display: block;
  position: absolute;
  padding: 2px 8px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
  top: 0.2rem;
  margin-left: 40px;
  transform: scale(0.6);
  color: white;
  background: rgb(236, 64, 122);
}

.exploreBtn::after {
  content: "Day 5";
}

.interviewBtn::after {
  content: "New";
  margin-left: 54px;
}

/* ul.rightItemList li {
  margin-right: 25px;
  z-index: 1;
} */

.profileMenuWrapper {
  top: 32px;
  right: 140px;
  color: rgba(0, 0, 0, 0.65);
  position: absolute;
  z-index: 1050;
}

.profileMenuArrow {
  position: absolute;
  left: 227px;
  color: transparent;
  z-index: 1;
}

.profileMenuContainer {
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  width: 270px;
  padding: 10px 0;
  margin-block-start: 1em;
}

.profileMenuItem {
  font-size: 14px;
  color: #607d8b;
  transition: 0.18s color ease-in-out;
  height: 46px;
  position: relative;
  padding: 0 15px;
  display: flex;
  line-height: 22px;
  white-space: nowrap;
  cursor: pointer;
}

.profile-links {
  display: flex;
  flex: 1 1 auto;
  padding: 0 15px;
  margin: 0 -15px;
  transition: all 0.3s;
  text-decoration: none;
  cursor: pointer;
  color: #90a4ae;
}

.profile-links:hover {
  color: #455a64;
  background-color: #eceff1;
}

.profileMenuItemIcon {
  flex: 0 0 auto;
  font-size: 24px;
  margin-right: 15px;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
}

.usernameIcon {
  color: #e0e0e0;
  transition: color 0.3s;
}

.usernameIcon:hover {
  color: #455a64;
}

.profileMenuItemText {
  transition: color 0.18s ease-in-out;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  color: #546e7a;
}

.dropdownContainer {
  position: relative;
  width: auto;
  text-align: left;
  list-style-type: none;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  padding: 10px 0;
  margin-block-start: 1em;
}

.dropdownMenuItem {
  color: #f9a825;
  display: flex;
  align-items: center;
  padding: 0 15px;
  margin: 0 -15px;
  flex: 1 1 auto;
  height: 30px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}

.dropdownMenuItem:hover {
  background-color: #eceff1;
}

.store:hover {
  color: #f07318;
}

.interview:hover {
  color: #263238;
}
