.navLinks {
  text-decoration: none;
  color: #546e7a;
  padding-top: 0.5rem;
  /* margin-left: 20px; */
}

.navLinks:hover {
  color: black;
  transition: all 0.5s ease-in-out;
}

.linkChip::after {
  display: block;
  position: absolute;
  padding: 2px 8px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
  top: 0.2rem;
  margin-left: 20px;
  transform: scale(0.6);
  color: white;
  background: rgb(236, 64, 122);
}

.exploreBtn::after {
  content: "Day 5";
}

.interviewBtn::after {
  content: "New";
  margin-left: 34px;
}

/* ul.rightItemList li {
  margin-right: 25px;
  z-index: 1;
} */

.profileMenuWrapper {
  color: rgba(0, 0, 0, 0.65);
  position: absolute;
  z-index: 1050;
}
.profileMenuWrapperT {
  color: rgba(0, 0, 0, 0.65);
  position: absolute;
  z-index: 1050;
}

.profileMenuArrow {
  border: solid 10px transparent;
  border-right-color: black;
  position: absolute;
  margin: -85px 0 0 -20px;
  z-index: 1;
}

.profileMenuContainer {
  position: absolute;
  right: -50px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  width: 270px;
  padding: 10px 0;
  margin-block-start: 1em;
}

@keyframes growDown {
  0% {
    transform: scaleY(0.9);
  }
  /* 20% {
    transform: scaleY(1.1); */
  /* } */
  100% {
    transform: scaleY(1);
  }
}

.profileMenuContainerT {
  position: absolute;
  right: -60px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  width: 270px;
  padding: 10px 0;
  margin-block-start: 1em;
  animation: growDown 200ms ease-in-out forwards;
  transform-origin: top center;
  transition-duration: 0.4s, 0s;
  transition-delay: 0s, 0.4s;
}

.profileMenuContainerT::before {
  content: " ";
  position: absolute;
  right: 28px;
  top: -8px;
  border-top: none;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #fff;
}

.notificationContainer {
  animation: growDown 200ms ease-in-out forwards;
  transform-origin: top center;
}

.notificationContainer::before {
  content: " ";
  position: absolute;
  right: 75.7px;
  top: -8px;
  border-top: none;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #fff;
}

.profileMenuContainerN {
  position: relative;
  padding: 0;
}

.profileMenuItem {
  font-size: 14px;
  color: #607d8b;
  transition: 0.18s color ease-in-out;
  height: 46px;
  /* position: relative;
   */
  padding: 0 15px;
  display: flex;
  line-height: 22px;
  white-space: nowrap;
  cursor: pointer;
}

.notificationMenuItem {
  height: auto;
  background: white;
  display: block;
  padding: 0 20px;
  position: relative;
  align-items: center;
  font-size: 12px;
  color: #424242;
  line-height: 22px;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.notificationMenuItem:hover {
  background: linear-gradient(180deg, white, #fafafa);
  /* transition: 0.18s ease-in-out; */
}

.profile-links {
  display: flex;
  flex: 1 1 auto;
  padding: 0 15px;
  margin: 0 -15px;
  transition: all 0.3s;
  text-decoration: none;
  cursor: pointer;
  color: #90a4ae;
}

.profile-links:hover {
  color: #455a64;
  background-color: #eceff1;
}

.notification-links {
  display: flex;
  flex: 1 1 auto;
  padding: 0 15px;
  margin: 0 -15px;
  transition: all 0.3s;
  text-decoration: none;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.profileMenuItemIcon {
  flex: 0 0 auto;
  font-size: 24px;
  margin-right: 15px;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
}

.usernameIcon {
  color: #e0e0e0;
  transition: color 0.3s;
}

.usernameIcon:hover {
  color: #455a64;
}

.profileMenuItemText {
  transition: color 0.18s ease-in-out;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  color: #546e7a;
}

.dropdownContainer {
  /* position: relative; */
  width: auto;
  text-align: left;
  list-style-type: none;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  padding: 10px 0;
  margin-block-start: 1em;
  animation: growDown 100ms ease-in-out forwards;
  transform-origin: top center;
}

.dropdownMenuItem {
  color: #f9a825;
  display: flex;
  align-items: center;
  padding: 0 15px;
  margin: 0 -15px;
  flex: 1 1 auto;
  height: 30px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}

.dropdownMenuItem:hover {
  background-color: #eceff1;
}

.store:hover {
  color: #f07318;
}

.interview:hover {
  color: #263238;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.ntfLink:hover {
  text-decoration: underline;
  color: #263238;
}

.ntfSettings:hover {
  color: #455a64;
  transition: color 0.3s ease-in-out;
}

.notificationListContainer {
  overflow: hidden;
}

.notificationListContainer:hover {
  overflow: scroll overlay;
  overflow-x: hidden;
}

.notificationListContainer::-webkit-scrollbar {
  width: 10px;
  transition: background-color 0.2s linear, opacity 0.2s linear;
}

.notificationListContainer::-webkit-scrollbar-thumb {
  background-color: #9e9e9e transparent;
}

.navbarItem {
  display: none;
}

@media only screen and (min-device-width: 280px) and (max-device-width: 750px) and (-webkit-min-device-pixel-ratio: 2) {
  .mobileNBC {
    height: 46px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid #eeeeee;
    z-index: 11;
  }

  .mobileNLL {
    display: none !important;
  }

  .navbarItem {
    flex: 1;
    display: flex;
    align-items: center;
    color: #b0bec5;
  }

  .mobileLogo {
    height: 23px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    border-style: none;
  }

  @keyframes slide {
    100% {
      left: 0;
    }
  }
}

.mask {
  background: rgba(33, 33, 33, 0.7);
  transition: opacity 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  z-index: 2;
}

.menu {
  position: relative;
  overflow: scroll;
  left: -220px;
  height: 100%;
  width: 220px;
  background: white;
  transition: transform 0.3s, -webkit-transform 0.3s;
  animation: slide 200ms ease-in-out forwards;
}

.username {
  display: flex;
  align-items: center;
  height: 71px;
  overflow: hidden;
  padding: 0 15px;
  border-bottom: "1px solid #eeeeee";
}

.usernameImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 100%;
  vertical-align: middle;
  border-style: none;
}

.usernameText {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #37474f;
  overflow: hidden;
}

.navListItem {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 14px;
  overflow: hidden;
  padding: 0 15px;
}
